<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/9d04a6002a.js" crossorigin="anonymous"></script>
    <title>My Store</title>
</head>
<body>
    {{> header}}
    
    <h1 id="ourH1">Our products</h1>
    <div class="productItem">
        {{#each products}}
        <div class="productItemContainer">
            <a class="productLink" href="/api/products/find/{{this.id}}">
            <!--<p>{{this.id}}</p>-->
            <div class="image"><img src="{{this.img}}" alt=""></div>
            <div class="brand">{{this.desc}}</div>
            <div class="title">{{this.title}}</div>
            <div class="price">{{this.price}} PLN</div>
            <div class="size">Size: {{this.size}}</div>
           
            </a>
        </div>
        
        
        {{/each}}
    </div>
</body>
</html>