<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9d04a6002a.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    {{>header}}
    <div class="mainItem">
        <div class="leftSide"><img src="{{product.img}}" alt=""></div>
        <div class="rightSide">
            <div class="rightCont">
                <div class="rightDesc">{{product.desc}}</div>
                <div class="rightTitle">{{product.title}}</div>
                <div class="rightPrice">{{product.price}} PLN</div>
                <div class="rightColor">Color: {{product.color}}</div>
                <div class="rightSize">Size: {{product.size}}</div>
                <div class="rightBtn">
                    <form action="/api/carts/" method="post">
                        <input type="hidden" value="{{product._id}}" name="productId">
                        <button type="submit" id="addToCart"><i class="fa-solid fa-cart-shopping"></i>Add to cart</button>
                    </form>
                </div>
                <div class="rightCategories">Categories: {{product.categories}}</div>   
                <div class="rightProductId">Product number: {{product._id}}</div>
            </div>
        </div>
    </div>
    <script src="/js/authFront.js"></script>
</body>
</html>